<h1>Options</h1>
<input type="checkbox" id="togglePeriod" name="togglePeriod" [checked]="showPeriod" (change)="togglePeriod()" />
<label for="togglePeriod"> Period </label>
<br>

<input type="checkbox" id="toggleTwoZeros" name="toggleTwoZeros" [checked]="showTwoZeros" (change)="toggleTwoZeros()" />
<label for="toggleTwoZeros"> Two Zeros </label>
<br>

<input type="checkbox" id="togglePassword" name="togglePassword" [checked]="isPassword" (change)="togglePassword()" />
<label for="togglePassword"> Is Password </label>
<br>

<input type="checkbox" id="toggleDisplay" name="toggleDisplay" [checked]="isDisplay" (change)="toggleDisplay()" />
<label for="toggleDisplay"> Is Display </label>
<br>

<input type="number" id="maxLength" name="maxLength" [value]="maxLength" (change)="onChangeMaxLength($event)" />
<label for="maxLength"> Maximum Length </label>
<br>

<input type="number" id="maxNumber" name="maxNumber" [value]="maxNumber" (change)="onChangeMaxNumber($event)" />
<label for="maxNumber"> Maximum Number </label>
<br>

<br>
<span>Result: {{result}}</span>

<br>
<span>Test Focus</span>
<input type="text" id="focused1" name="focused1" (focus)="onFocus()" />
<input type="text" id="focused2" name="focused2" (focus)="onFocus()" />
<hr>
<h1>Component</h1>
<div style="width: 400px;">
  <keypad [showTwoZeros]="showTwoZeros" [showDisplay]="isDisplay" [showPeriod]="showPeriod" [isPassword]="isPassword" 
    [maxLength]="maxLength" [maxNumber]="maxNumber" [(data)]="result" (dataChange)="onChange($event)"></keypad>
</div>
<hr>


